
/**CSS Toop and Footer of Layout Vintage Store */

/**Remove right body scrollbar chrome. */
::-webkit-scrollbar {
  display: none;
}

/**Start CSS format header menu objects. */
.nav-top {
  background-color: white;
  height: 80px;
  position: fixed;
  top: 0;
}

.color-black {
  color:black!important;
}

.div-icon-shopping-cart {
  margin-left: 15px!important;
}

.center-align-span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.head-div {
  line-height: 5px!important;
  background-color: black;
}

.div-search-column-left {
    float: left;
}

.div-search-column-right {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 32%;
}

.font-color-black {
  color:black!important;"
}

.input-search {
  height: 2rem!important;
}

/**Start Default color placeholder with opacity 100% and color black */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}
/**End Default color place hoeder with opacity 100% and color black */

.img-logo-topo {
  margin-left: 8%!important;
  margin-top: -0.4%!important;
}

.div-icon-search {
  margin-left: -25px!important;
}

.font-txt-options-header {
  font-size: 10px!important;
  font-weight: bold!important;
}
/**End CSS format header menu objects. */

/**Start CSS format footer objects */
.footer-tag {
  background-color: black;
}

.txt-name-of-aplication-footer {
  margin-top: -2px;
}

.column-one-txt-block-footer {
  width: 15%!important;
}

.column-two-txt-block-footer {
  width: 20%!important;
}

.column-three-txt-block-footer {
  width: 20%!important;
}

.column-four-txt-block-footer {
  width:28%!important;
}

.topo-options-txt-footer {
  font-weight: bold!important;
}

.footer-of-footer-left-txt-column {
  margin-left:15.8%!important;
}

.footer-of-footer-right-txt-column {
  margin-left:43%!important;
}

.column-one-txt {
  font-size: 12px;
}

.txt-align-center {
  text-align: center;
}

.txt-header-description-footer-email {
  letter-spacing: 4px;
}

.email-footer-input {
  width: 18%!important;
}

.btn-footer-subscribe {
  background-color: black;
  color:white;
  height:50px;
  width: 140px;
}

/**End CSS format footer objects */
